alembic==1.7.7
altgraph==0.17.2
amqp==5.1.1
anyio==3.6.1
apache-airflow==2.3.2
apache-airflow-providers-celery==2.1.4
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-slack==4.2.3
apache-airflow-providers-sqlite==2.1.3
apispec==3.3.2
argcomplete==2.0.0
attrs==20.3.0
autopep8==1.6.0
Babel==2.10.1
beautifulsoup4==4.11.1
billiard==3.6.4.0
black==22.3.0
blinker==1.4
cachelib==0.7.0
cattrs==1.10.0
celery==5.2.6
certifi==2020.12.5
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
colorama==0.4.4
colorlog==4.8.0
commonmark==0.9.1
connexion==2.13.1
cron-descriptor==1.2.24
croniter==1.3.5
cryptography==36.0.2
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.1.1
distlib==0.3.4
dnspython==2.2.1
docutils==0.18.1
email-validator==1.2.1
filelock==3.7.1
Flask==1.1.2
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flower==1.0.0
graphviz==0.20
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.23.0
humanize==4.1.0
identify==2.5.1
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==3.0.3
jsonschema==4.5.1
keyboard==0.13.5
kombu==5.2.4
lazy-object-proxy==1.7.1
lockfile==0.12.2
macholib==1.16
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mock-open==1.4.0
MouseInfo==0.1.3
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
pathspec==0.9.0
pendulum==2.1.2
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.19.0
prison==0.2.1
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.1
py==1.11.0
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pycparser==2.21
PyDirectInput==1.0.4
PyGetWindow==0.0.9
Pygments==2.12.0
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.9
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pytest==7.1.2
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-nvd3==0.15.0
python-slugify==6.1.2
python3-openid==3.2.0
pytweening==1.0.4
pytz==2022.1
pytzdata==2020.1
pywhatkit==5.4
PyYAML==5.4.1
requests==2.27.1
rfc3986==1.5.0
rich==12.4.1
rubicon-objc==0.4.2
setproctitle==1.2.3
six==1.16.0
slack-sdk==3.17.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.9
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tornado==6.1
typing_extensions==4.2.0
unicodecsv==0.14.1
urllib3==1.26.9
vine==5.0.0
virtualenv==20.14.1
wcwidth==0.2.5
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.14.1
WTForms==2.3.3
zipp==3.8.0
